<div class="flex-row">
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card appearance="outlined" class="search-card">
      <mat-card-title class="todo-list-title">Todos</mat-card-title>
      <mat-card-content class="flex-col">

        <div class="flex-row gap-10 flex-wrap">

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput data-test="todoOwnerInput" placeholder="Filter by owner" [(ngModel)]="todoOwner"
              (input)="updateFilter()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Contains</mat-label>
            <input matInput data-test="todoBodyInput" placeholder="Filter by contains" [(ngModel)]="todoBody"
              (input)="getTodosFromServer()">
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Limit Display</mat-label>
            <input matInput data-test="todoLimitInput" type="number" placeholder="Limit display" min="0" max="200"
              [(ngModel)]="todoLimit" (input)="updateFilter()">
          </mat-form-field>

        </div>

        <div class="flex-row gap-10 flex-wrap">

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoCategory"
              data-test="todoCategorySelect">
              <mat-option>--</mat-option>
              <mat-option value="video games">Video Games</mat-option>
              <mat-option value="software design">Software Design</mat-option>
              <mat-option value="homework">Homework</mat-option>
              <mat-option value="groceries">Groceries</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="updateFilter()" [(ngModel)]="todoStatus" data-test="todoStatusSelect">
              <mat-option>--</mat-option>
              <mat-option id="true" [value]="true">Complete</mat-option>
              <mat-option id="false" [value]="false">Incomplete</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Sort By</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoOrderBy"
              data-test="todoOrderBySelect">
              <mat-option>--</mat-option>
              <mat-option value="category">Category</mat-option>
              <mat-option value="owner">Owner</mat-option>
              <mat-option value="status">Status</mat-option>
              <mat-option value="body">Body Text</mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <br>
        <div class="flex-row gap-10 flex-wrap">
          <label for="viewType">View type: </label>
          <mat-radio-group aria-label="View type" [(ngModel)]="viewType" data-test="viewTypeRadio">
            <mat-radio-button value="card">Card</mat-radio-button>
            <mat-radio-button value="list">List</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>

    <br>

  </div>
</div>


<div class="flex-row">
  @if (serverFilteredTodos) {
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">
    <!-- Switch between card and list view based on the viewType variable, set above in the mar-radio-group -->
    <div>
      @switch (viewType) {
      <!-- Card grid case-->
      @case ('card') {
      <div class="todo-cards-container flex-row gap-10 flex-wrap">
        @for (todo of filteredTodos; track todo._id) {
        <app-todo-card [simple]="true" class="todo-card" [todo]="todo" fxFlex="1 1 280px"></app-todo-card>
        }
      </div>
      }
      <!-- List case -->
      @case ('list') {
      <mat-card appearance="outlined">
        <mat-card-content>
          <mat-nav-list class="todo-nav-list">
            <h3 mat-subheader>Todos</h3>
            @for (todo of this.filteredTodos; track todo._id) {
            <a mat-list-item [routerLink]="['/todos', todo._id]" class="todo-list-item">
              <span matListItemTitle mat-line class="todo-list-owner">{{todo.owner}}</span>
              @if (this.todo.status === true) {
              <span matListItemLine class="todo-list-status"> Complete ✅ </span>
              }
              @else {
              <span matListItemLine class="todo-list-status"> Incomplete ❌</span>
              }
              <span matListItemLine class="todo-list-body"> {{todo.body}}</span>
              @if (this.todo.category === 'groceries') {
              <span matListItemLine class="todo-list-category"> Groceries 🛒 </span>
              }
              @else if (this.todo.category === 'homework') {
              <span matListItemLine class="todo-list-category"> Homework 📚 </span>
              }
              @else if (this.todo.category === 'software design') {
              <span matListItemLine class="todo-list-category"> Software Design 🖥️ </span>
              }
              @else {
              <span matListItemLine class="todo-list-category"> Video Games 🎮</span>
              }
            </a>
            }
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
      }
      }
    </div>
  </div>
  } @else {
  <div class="flex-1" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="user-error">
    <mat-error>
      There was a problem loading the todos. Possibly the server is down or perhaps there are network
      issues.
    </mat-error>
    <mat-error>
      Error message: {{ this.errMsg }}
    </mat-error>
    <mat-error>
      Please wait a bit and try again or start the server.
    </mat-error>
  </div>
  }
